{{#each filteredOptions as |option index|}}
  {{auto-complete-option content=option}}
{{else}}
  <li>
    <span class="auto-complete__options-placeholder">{{optionsPlaceholder}}</span>
  </li>
{{/each}}
