<h2 id="title">Welcome to Ember.js</h2>

{{#auto-complete
  value=testValue
  selection=testSelection
  content=testPromise
  optionValuePath="value"
  optionLabelPath="label"
  onSelect="testSelectHandler"
  optionsPlaceholder="no results"
  async=true
  as |option|
}}
  {{option.label}}
{{/auto-complete}}

{{!-- {{auto-complete
  selection=testValue
  content=testStrings
  onSelect="testSelectHandler"
  optionsPlaceholder="no results"
}} --}}

<h4>selection: {{testSelection}}</h4>
<h4>value: {{testValue}}</h4>
